<div>

{{#limitEach comments 2}}
{{#ifEquals ../user_id user_id }}
<div class=' is-flex is-align-items-center '
  style="max-height: 100px">
  {{!-- max height will break if comment is too big --}}     
        <p>
          <span
            class='has-text-primary is-size-9 is-uppercase has-text-weight-bold'
          >
          {{user.username}}: </span>
          {{this.comment_text}}
          </p>         
  </div>
{{/ifEquals}}
{{/limitEach}}
</div>
<div class="is-flex  is-align-items-center">
    {{#if comments}}
    <div>
    <a href='/posts/{{id}}'>
    <p class="has-text-grey is-underlined">View all {{comments.length}} comments</p>
    </a>
    </div>
    {{else}}
    <div>
       <a href='/posts/{{id}}'>
    <p class="has-text-grey is-underlined">Be the first to comment</p>
    </a>
    </div>
    {{/if}}
</div>  