<article class='card' id='{{id}}'>
  <div class='is-flex is-align-items-center is-justify-content-space-between'>
    <div class='level-left'>
      <img class="post-avatar ml-2 is-hidden-mobile" src="{{user.image}}">
      <h2 class='card-header-title username level-left' user-id='{{user.id}}'>
        <a href='/community/{{user.id}}'>{{user.username}}</a>
        {{#if follower}}
          <span class='ml-1 username-within' user-id='{{user.id}}'>• Following</span>
        {{else}}
          <span class='ml-1 username-within' user-id='{{user.id}}'>•<span
              class='ml-1 has-text-link is-clickable'
            >Follow</span></span>
        {{/if}}
      </h2>
    </div>
    <div class='level-right'>
      <h2 class='card-header-title level-right'>
        <div class='modal-trigger actions' user-id='{{user.id}}'>
          <span class='icon is-small'>
            <i class='fas fa-ellipsis-h' aria-hidden='true'></i>
          </span>

        </div>
      </h2>
    </div>
  </div>
  <div class='card-image'>
    <figure class='image is-1by1'>
      <img src={{post_image}} alt='{{post_title}}' />
    </figure>
  </div>
  <div class='level is-mobile' style='margin-bottom:0;'>

    <div class='level-left'>
      <span
        class='card-header-title level-item'
        role='img'
        aria-label='heart emoji'
      >
        {{#if like}}
          <strong id='like-post' post-id={{id}} class='like-post'><i
              class='fas fa-heart'
            ></i><span class='likes-counter' data-value={{likes.length}}>
              {{likes.length}}
              likes</span></strong>
        {{else}}
          <strong id='like-post' post-id={{id}} class='like-post'><i
              class='far fa-heart'
            ></i><span class='likes-counter' data-value={{likes.length}}>
              {{likes.length}}
              likes</span></strong>
        {{/if}}
      </span>
      <div class="has-text-centered">
    </div>
    </div>
  </div>
  {{!-- hy >>> --}}
    <section class ='level-left mt-0 mt-0 p-2' id='tagArea'>
      <div class=""> 
        {{#each tags}}
        {{> singleTag}}
        {{/each}}
        </div>  
    </section>
    <div class="pl-4 pr-4 pb-3">

    {{>commentFeed}}
      <p class=" is-size-7">
        {{#post_time createdAt}}
        {{/post_time}}
      </p>
    </div>
{{!-- <<< hy --}}
</article>