<section
  class='column is-four-fifths-mobile is-two-fifths-tablet is-one-third-desktop'
>
  <article class='card'>
    <div class='level is-mobile' style='marginBottom: 0'>
      <a href='/posts/{{id}}'>
        <div class='level-left'>
          <h1 class='card-header-title level-item' id='{{id}}'>
            {{user.username}}
          </h1>
        </div>
      </a>
    </div>
    <div class='card-image'>
      <figure class='image is-1by1'>
        <img src={{post_image}} alt='{{post_title}}' style='objectFit:cover' />
      </figure>
    </div>
    <div class='level is-mobile' style='marginBottom: 0'>
      <div class='level-left'>
        <span
          class='card-header-title level-item'
          role='img'
          aria-label='heart emoji'
        >
          {{#if likes}}
            <i class='fa fa-heart'></i>{{likes.length}}
            likes
          {{/if}}
        </span>
      </div>
    </div>
  </article>
</section>