<div class='card single-post-by-tag'>
  <div class='card-image'>
    <figure class='image is-4by3'>
      <img src='{{post_image}}' alt='{{post_title}}' />
    </figure>
  </div>

  <div class='card-content'>
    <div class='media'>
      <div class='media-left'>
        <figure class='image is-48x48'>
          <img
            src='https://static.turbosquid.com/Preview/2019/07/24__16_40_34/001.pngCC3F8D22-8EB0-4C2D-8B34-5F386F68ABC5Large.jpg'
            alt='{{userName}}'
          />
        </figure>
      </div>
      <div id='personalPostSmall' class='media-content'>
        <p class='content highlight is-small'>{{post_likes}} users liked this</p>
        <p class='content is-small'> {{post_title}}</p>
        <p class='content is-small'> Last update: {{post_time updatedAt}}</p>
      </div>
    </div>

    <div class='content'>
      {{#each tags}}
      {{> singleTag_managePage}}
      {{/each}}
    </div>

    <button id='editBtn' class="button is-rounded" value={{id}}>
      <i class="fas fa-edit"></i>
    </button>

    <div id='edit{{id}}' class="modal">

      <div class="modal-background"></div>

      <div class="modal-card">

        <header class="modal-card-head">
          <p class="modal-card-title">Edit post</p>
          {{!-- <button id='closeBtn' class="delete" aria-label="close" value={{id}}></button> --}}
        </header>

        <section class="modal-card-body">

          <div id="tagArea{{id}}" class=' field is-grouped is-grouped-multiline'>
          </div>

          <br>

          <div class="field is-grouped">
            <p class="control is-expanded">
              <input id='newTagInput{{id}}' class="input" type="text" placeholder="Tag (space or special characters are not allowed)">
            </p>
            <p class="control">
              <button id='addNewTag' class="button is-primary" value={{id}}>
                + Tag
              </button>
              <button id='closeBtn' class="button is-danger" value={{id}}>
                Exit
              </button>
            </p>
          </div>
        </section>

      </div>

    </div>

  </div>
  
</div>

