<article class='card'>
  <div class='level is-mobile'>
    <a href='/posts/{{postsData.id}}'>
      <div class='level-left'>
        <h1 class='card-header-title level-item' id='{{postsData.id}}'>
          {{postsData.user.username}}
        </h1>
      </div>
    </a>
  </div>
  <div class='card-image'>
    <figure class='image is-1by1'>
      <img src={{postsData.post_image}} alt='{{postsData.post_title}}' />
    </figure>
  </div>
  <div class='level is-mobile' style='marginBottom: 0'>
    <div class='level-left'>
      <span
        class='card-header-title level-item'
        role='img'
        aria-label='heart emoji'
      >
        {{#if postsData.likes}}
          <i class='fa fa-heart'></i>{{postsData.likes.length}}
          likes
        {{/if}}
      </span>
    </div>
  </div>
</article>