{{> navbar}}
<section class="hero is-black">
  <div class="hero-body">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <figure class="image is-480x480">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
          </figure>
          <br>
          <p class="subtitle is-4">{{userName}}</p>
          <br>
          <button class="button is-primary">+ Follow</button>
        </div>
      </div>
    </nav>
    <br>
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">POSTS</p>
          <p class="title">{{postAmount}}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">COMMENTS</p>
          <p class="title">{{commentAmount}}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">LIKED BY</p>
          <p class="title">{{likeReceived}}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">FOLLOWED BY</p>
          <p class="title">{{followerAmount}}</p>
        </div>
      </div>
      
</nav>
  </div>
</section>
  
<section class="bd-index-section">
    <div class="container">
        <div class="columns is-multiline">
            {{#each postArr}}
            {{> postCard}}
            {{/each}}  
        </div>
    </div>
</section>